@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
main > section {
    margin-top: 130px;
}
main{
    width: 75%;
    max-width: 1024px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
    line-height: 15px;
    font-size: 1rem;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar ,.banner{
    width: 75%;
    max-width: 1024px;
    margin: 0 auto; 
}
.btn-primary:hover{
    background-color: #ff8f0ea6;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px ;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* navbar styles */
.brand{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
.nav-item a:hover,.brand:hover
{
    color: #FF900E;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 50px;
    color: #424242;
    line-height: 26px;  
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
}
/* banner style? */
.banner-image{
    width: 100%;
    margin-bottom: 2.8rem;
}

.banner-content{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
    line-height: 1.6rem;
    color: #727272;
    margin-bottom: 30px;
}

/* team and feature style */
.teams{
    align-items: center;
    gap: 73px;
}
.our-features{
    max-width: 403px;
}
.features-description{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}
#quick-list{
    color: #727272;
    font-weight: 500;
}
#of-our{
    color: #131313;
    font-weight: 700;
}
#features{
    color: #FF900E;
    font-weight: 700;
}
.team-img-container img:hover,
.banner-image:hover ,
.features-architect img:hover{
    /* transform: translateZ(-10px) scale(1.05); */
    box-shadow:  0px 4px 15px 5px #ff8f0e6e;
    border-radius: 8px;
    filter: none;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

/* features section related style */
.features{
    gap: 140px;
}

#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.features-card:hover{
    transform: translateY(-6px);
    background-color: #ff8f0e5d;
}
.features-card{
    padding: 10px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 440px;
}
.features-card .features-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.features-architect img{
    width: 100%;
}
.features img{
    width: 531px;
    height: 850px;
}

/* some fact related styles */
.some-fact .section-title{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 0;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 92px;
}
.fact-card:hover{
    transform: translateY(-15px);
    background-color: #ff8f0e5d;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 180px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    color: #424242;
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    color: #727272;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}
.fact-card div{
    padding-top: 65px;
    padding-bottom: 45px;
}
.fact-description{
    max-width: 430px;
    line-height: 26px;
    font-size: 1rem;
    margin-bottom: 75px;
}

/* Sponspors related style */
.sponspors-info{
    max-width: 405px;
    margin: 50px auto;
    text-align: center;
}
.sponspors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.image{
    filter: grayscale(100%);
    transition: all 0.4s ease;
}
.image:hover{
    filter: grayscale(0%);
    transform: translateY(-10px);
}
/* footer style */
footer{
    background-color: #FFF4E7;
    width: 75%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 180px;
    border-radius: 8px;
}
footer p{
    padding: 20px; 
    text-align: center;
    color: #424242;
    font-size: 1.2rem;
}


/* responsive media query */

/* small size device */
@media screen and (max-width:576px) {
    .navbar ,
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container,
    .sponspors-companies{
        grid-template-columns:repeat(1, 1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
        align-items: center;
    }
    .some-facts{
        text-align: center;
    }
    .sponspors-companies{
        justify-items: center;
        gap: 30px;
    }
    .our-features{
        margin-left: 20px;
        text-align: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
        margin: 0 auto;
    }
    .features{
        justify-items: center;
        align-content: center;
        align-items: center;
    }
    .features-architect img{
    width: 100%;
    }   
    .banner-title{
        text-align: center;
        font-size: 3rem;
    }
    .nav-item{
        text-align: center;
    }
}



/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponspors-companies , .fact-description {
        grid-template-columns: repeat(2, 1ft);
        gap: 50px;
        justify-items: center;
    }
}